<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 프로퍼티스 파일을 참조해서 하도록 -->
	<properties resource="config/db.properties" />

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> <!-- 이걸하면 입력을 안한건 null로 들어가는듯 -->
		<!-- 데이터 등록시 속성값이 존재하지 않으면 예외(부적합한 열유형 111)
			 발생함 . 이 경우 해당타입을 명시적으로 알려주던지, 
			 아래와 같이 Null인 속성에 대해 특정값으로 자동 설정이 가능함.	 -->
	</settings>

	<typeAliases>
			<typeAlias type="com.example.demo.vo.MemVO" alias="memVO"/>
			<typeAlias type="com.example.demo.vo.UserVO" alias="UserVO"/>
			<typeAlias type="com.example.demo.vo.AirportVO" alias="airportVO"/>
			<typeAlias type="com.example.demo.vo.AirRouteScheduleVO" alias="airRouteScheduleVO"/>
			<typeAlias type="com.example.demo.vo.SeatVO" alias="seatVO"/>
			<typeAlias type="com.example.demo.vo.PassengerVO" alias="PassengerVO"/>
			<typeAlias type="com.example.demo.vo.OrdersVO" alias="ordersVO"/>
			<typeAlias type="com.example.demo.vo.ProductVO" alias="prodVO"/>
			<typeAlias type="com.example.demo.vo.AirCompletVO" alias="airCompletVO"/>
			<typeAlias type="com.example.demo.vo.AirVO" alias="AirVO"/>
			<typeAlias type="com.example.demo.vo.Notice_BoardVO" alias="nboardVO"/>
			<typeAlias type="com.example.demo.vo.Board1_1VO" alias="BoardVO"/>
			<typeAlias type="com.example.demo.vo.Reply1_1VO" alias="replyVo"/>
			<typeAlias type="com.example.demo.vo.FAQBoardVO" alias="faqboardVo"/>
			<typeAlias type="com.example.demo.vo.MyReservationVO" alias="myReservationVO"/>
			<typeAlias type="com.example.demo.vo.UsersVO" alias="usersVO"/>
			<typeAlias type="com.example.demo.vo.MileageVO" alias="mileageVO"/>
	</typeAliases>


	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="META-INF/member-mapper.xml"/>
		<mapper resource="META-INF/airport-mapper.xml"/>
		<mapper resource="META-INF/seat-mapper.xml"/>
		<mapper resource="META-INF/TicketMapper.xml"/>
		<mapper resource="META-INF/FlightMapper.xml"/>
		<mapper resource="META-INF/user-mapper.xml"/>
		<mapper resource="META-INF/product-mapper.xml"/>
		<mapper resource="META-INF/air-mapper.xml"/>
		<mapper resource="META-INF/notice-mapper.xml"/>
		<mapper resource="META-INF/board-mapper.xml"/>
		<mapper resource="META-INF/faqboard-mapper.xml"/>
		<mapper resource="META-INF/mileage-mapper.xml"/>

	</mappers>
</configuration>